<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Distributed Tracing Monitor</title>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/monitor.js"></script>
    <script src="js/tracing.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/monitor.css"/>
    <link rel="stylesheet" href="css/tracing.css"/>
</head>
<body>
<div id="tracing-container">

</div>
</body>
</html>